/* pc */
@media (min-width : 1024px){
}
/* tablet */
@media (min-width: 740px) and (max-width : 1023px){
}
/* mobile */
@media (max-width : 739px){
    /* begin css header */
    .header{
        overflow: hidden;
    }
    .header__menu{
        display: block;
    }
    .header__nav{
        flex-direction: column;
        display: block;
    }
    .header__nav>li:first-child{
        display: inline-block;
    }
    .header__nav li a{
        display: block;
        padding: 0px 24px;
    }
    #subnav{
        background-color: #333;
    }
    #subnav > li > a{
        color: #fff;
        padding: 0 32px;

    }
    .header__search--btn{
        display: none;
    }
    .header__more--btn{
        display: block;
    }
    /* end css header */
    /* begin css slide */
    .slider__content{
        display: none;
    }
    /* end css slide */

    /* begin css band */
    .band__member{
        flex-direction: column;
    }
    /* end css band */
    /* begin css tour */
    .tour__shows{
        flex-direction: column;
    }
    .tour__shows-item{
        width: 100%;
        margin-bottom: 16px;
    }
    /* end css tour */
    /* begin css contact */
    .contact__form{
        margin-top: 16px;
    }
    .contact__form--group{
        display: block;
    }
    /* end css contact */
}