.header{
    height: 46px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #000;
    &__menu{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__nav{
        display: flex;
        flex-wrap: wrap;
        line-height: 46px;
        li{
            a{
                padding: 15px 24px;
                text-transform: uppercase;
                color: #fff;
            }
            .header__subnav {
                display: none;
                box-shadow: 0 0 10px rgba(0,0,0, 0.3);
                min-width: 160px;
                background-color: #fff;
                a{
                    color: #000;
                    padding: 0 16px;
                    text-transform: unset;
                }
            }
            &:hover>a{
                background-color: #ccc;
                color: #000;
            }
            &:hover .header__subnav{
                display: block;
            }
        }
        .header__subnav>li:hover>a {
            background-color: #ccc;
            color: #000;
            display: block;
        }
    }
    &__search--btn,&__more--btn{
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(11px);
        a{
            color: #fff;
            padding: 15px 24px 16px 24px;
        }
    }
    &__search--btn a:hover{
        background-color: #f44336;  
    }
    &__more--btn{
        display: none;
        i{
            color: #fff;
            padding: 15px 24px 16px 24px;
        }
    }
    &__more--btn i:hover{
        background-color: #ccc; 
        color: #000; 
    }
}