.contact{
    &__body{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 32px 0;
    }
    &__info{
        line-height: 1.6;
    }
    .ti-location-pin,.ti-mobile,.ti-email{
        font-size: 18px;
        width: 30px;
        display: inline-block;
    }
    &__address,&__phone-number,&__email-address{
        font-size: 18px;
    }
    %__form{
        max-width: 384px;
    }
    &__form-group{
        display: inline-flex;
    }
    &__form-control{
        border: 1px solid #ccc;
        padding: 10px;
        display: inline-block;
        margin-bottom: 4px;
        width: 100%; 
    }
    &__form-name{
        margin-right: 8px;
    }
    &__btn{
        margin-top: 10px;
        float: right;
    }
    &__btn-submit{
        background-color: #000;
        color: #fff;
        border: 0;
        text-transform: uppercase;
        padding: 12px 17px;
        &:hover{
            background-color: #ccc;
            color: #000;
        }
    }
    &__map{
        width: 100%;
        height: auto;
    }
}