.container{
    max-width: 100%;
    width: 800px;
    margin: 0 auto;
    padding:64px 20px;
}
.content{
    text-align: center;
}
.title{
    padding: 10px 0;
    text-transform: uppercase;
}
.sub__title{
    font-style: italic;
    opacity: 0.6;
    padding: 15px 0;
}
